<div class="container">
    <div class="row">
        <div class="offset-3">
            <h2  id="honey">YOUR MATCHES</h2>
            <br><br>
            <div id = "match-section"></div>
            <br>
            <input type="button" class="btn bg-warning" value="Back" onclick="window.location.replace('/')"/>
        </div>
    </div>
</div>

<script type="text/javascript" src="assets/js/matching.js"></script>