<h1 class="text-center display-1 m-3 animated heartBeat slower">Date night</h1>
    <h2>MATCHES SECTION </h2>
    <div id = "match-section"></div>
<script type="text/javascript" src="assets/js/matching.js"></script>